# Created by .ignore support plugin (hsz.mobi).gradle/build/!gradle/wrapper/gradle-wrapper.jar*test*.log*.gz=======*/target/realtech-ui### STS ###*.apt_generated*.classpath*.factorypath*.project*.settings*.springBeans*.sts4-cache### IntelliJ IDEA ###*.idea*.iws*.iml*.ipr/out/### NetBeans ###/nbproject/private//build//ziguang-doc/target//nbbuild//dist//nbdist//.nb-gradle/